<!doctype html>
%html
  %head
    %title Where Are My Taxes?
    %meta(charset="utf-8")
    %meta(name="description" content="Where's your money going? Breakdown the spending in the 2011 Government Budget by department, and find out how they're spending your money.")
    %link(rel="stylesheet" href="lib/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" media="screen")
    %link(rel="image_src" href="logo.jpg")
    %link(rel="canonical" href="http://wheresmytaxes.co.nz/")
    %link(href="https://plus.google.com/102726734559112403673/" rel="publisher")
    %link(href="style.css" rel="stylesheet")
  %body
    %center
      %img(id="title" src="title.png" alt="Where are my taxes?")
    #account_links
    #budget_container Loading...
    #dept_container
      #dept_graph
      #dept_delta
        #dept_delta_percent
        #dept_delta_caption
    #call_to_action &lt;&lt; Click on a segment to expand the department
    #receipt_wrapper
      .header
      .receipt
        %table
    #footer
      -# g+ button
      :plain
        <div style="height:80px;float:left;margin-right:20px;">
          <a href="https://plus.google.com/102726734559112403673/?prsrc=3" style="text-decoration: none;">
            <img src="https://ssl.gstatic.com/images/icons/gplus-32.png" width="32" height="32" style="border: 0;"/>
          </a>
        </div>
      -# facebook button
      :plain
        <iframe src="http://www.facebook.com/plugins/like.php?app_id=110821432339192&href=http%3A%2F%2Fwheresmytaxes.co.nz%2F&send=false&layout=standard&width=450&show_faces=false&action=like&colorscheme=light&font&height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true" id="likebutton"></iframe>
      #rightstuff(style="float:right;")
        #links
          %a(href="http://markhansen.co.nz/budget-visualisation/#disqus_thread") FEEDBACK
          %a#creditslink(href="#credits") CREDITS
          %div(style="display:none;")
            #credits
              :markdown
                - Public data helpfully provided by the [New Zealand Treasury][tr].
                - Design by [Ryan Delaney][rd].
                - Code by [Mark Hansen][mh] and [Luke Bjerring][lb].
                - Inspired by the [DataVizChallenge][dvc], and [Where Did My Tax Dollars Go?][wdmtdg]
                - Charts made with the excellent [HighCharts Library][hc].

                [tr]: http://www.treasury.govt.nz/
                [rd]: http://ryandelaney.co.nz/
                [mh]: http://markhansen.co.nz/
                [lb]: mailto:lukebjerring@hotmail.com
                [dvc]: http://datavizchallenge.org/
                [wdmtdg]: http://www.wheredidmytaxdollarsgo.com/
                [hc]: http://highcharts.com

          %a(href="http://markhansen.co.nz/budget-visualisation/") ABOUT
        #copyright Copyright, 2011 Mark Hansen, Luke Bjerring, Ryan Delaney
    %script(src="lib/jquery-1.7.min.js")
    %script(src="lib/underscore-min.js")
    %script(src="lib/backbone-min.js")
    %script(src="lib/highcharts/js/highcharts.js")
    %script(src="lib/jquery.tools.min.js")
    %script(src="lib/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js")
    %script(src="lib/jquery.url.js")
    %script(src="lib/cohorts/lib/cohorts.js")
    -# mpq
    :javascript 
      var mpq=[];mpq.push(["init","2b0e1a1911fa12f692de9d0363af3a34"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
    %script(src="AccountLinksView.js")
    %script(src="DeptReceiptView.js")
    %script(src="DeptPieView.js")
    %script(src="GovtPieView.js")
    %script(src="helper_methods.js")
    %script(src="index.js")
    %script(src="AB.js")
    %script(src="tracking.js")
    -# clicky
    :javascript
      var clicky_site_ids = clicky_site_ids || [];
      clicky_site_ids.push(66427850);
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
    :plain
      <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66427850ns.gif" /></p></noscript>
    -# crazyegg
    :javascript
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName('script')[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/9432.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
